:root {
  --border: grey;
}

html {
  background: #ECF0F3;
}

.condet-table input {
  min-width: 4rem;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid var(--border);
  border-radius: 5px;
  background-color: #ECF0F3;
  color: var(--border);
}

.condet-table input:focus {
  background-color: #D1D9E6;
  transition: 0.5s;
}

.condet-table, .condet-caption {
  text-align: center;
  background: #ECF0F3;
  font-family: 'ubuntu';
  font-weight: 400;
  padding: 6px;
  color: var(--border);
  border-radius: 12px;
  box-shadow: 18px 18px 14px #D1D9E6 inset, -18px -18px 14px #FFF inset;
  border-spacing: 0px;
  border: 3px solid var(--border);
  margin-bottom: 10px;
}

.condet-caption {
  background-color: #ECF0F3;
  color: var(--border);
  font-size: 1.2rem;
  border-radius: 12px;
  box-shadow: 8px 8px 8px #D1D9E6 inset, -8px -8px 8px #FFF inset;
  margin-bottom: 10px;
}

.condet-table thead {
  font-size: 1.11rem;
}

.condet-table th, td {
  padding: 4px;
  width: auto;
}

.condet-table tr:nth-child(even) {
  color: var(--border);
  font-weight: bold;
}

.condet-class-major.condet-table,
.condet-class-major .condet-caption{
  border-color: #B80F0A;
}

.condet-class-minor.condet-table,
.condet-class-minor .condet-caption{
  border-color: #0063B2;
}

path {
  stroke-linejoin: round;
  stroke-width: 2;
  stroke: black;
  fill: none;
}

path:hover {
  stroke-width: 3;
  stroke: #B80F0A;
}

path:hover + path {
  stroke: #B80F0A;
  fill: #B80F0A;
}

path + path {
  stroke: black;
  fill: black;
}

/*path:hover,*/
/*path:focus {*/
/*  stroke: #B80F0A;*/
/*  marker-end: url(#hover-arrow);*/
/*}*/