:root {
  --border: grey;
}

html {
  background: #ecf0f3;
}

.condet-table input {
  min-width: 4rem;
  width: 48px;
  box-sizing: border-box;
  border: 2px solid var(--border);
  border-radius: 5px;
  background-color: #ecf0f3;
  color: var(--border);
}

.condet-table input:focus {
  background-color: #d1d9e6;
  transition: 0.5s;
}

.condet-table,
.condet-caption {
  text-align: center;
  background: #ecf0f3;
  font-family: "ubuntu";
  font-weight: 400;
  padding: 6px;
  color: var(--border);
  border-radius: 12px;
  box-shadow: 18px 18px 14px #d1d9e6 inset, -18px -18px 14px #fff inset;
  border-spacing: 0px;
  border: 3px solid var(--border);
  margin-bottom: 10px;
}

.condet-caption {
  background-color: #ecf0f3;
  color: var(--border);
  font-size: 1.2rem;
  border-radius: 12px;
  box-shadow: 8px 8px 8px #d1d9e6 inset, -8px -8px 8px #fff inset;
  margin-bottom: 10px;
}

.condet-table thead {
  font-size: 1.11rem;
}

.condet-table th,
td {
  padding: 4px;
  width: auto;
  height: 26px;
}

.condet-table tr:nth-child(even) {
  color: var(--border);
  font-weight: bold;
}

.delete-table-btn {
  position: absolute;
  left: -13px;
  top: -13px;
}

path {
  stroke-linejoin: round;
  stroke-width: 2;
  stroke: black;
  fill: none;
}

path:hover {
  stroke-width: 3;
  stroke: #B80F0A;
}

path:hover + path {
  stroke: #B80F0A;
  fill: #B80F0A;
}

path + path {
  stroke: black;
  fill: black;
}

/* classes */

.condet-class-major.condet-table,
.condet-class-major .condet-caption{
  border-color: #B80F0A;
}

.condet-class-minor.condet-table,
.condet-class-minor .condet-caption{
  border-color: #0063B2;
}

/* add connection */

.condet-table-selected.condet-table,
.condet-table-selected.condet-table .condet-caption {
  border-color: #50C878;
}
